<h1>Awesome Menus</h1>

<%= form_for @menu, url: {action: "create"}, html: {class: "form-create-menu"} do |f| %>
  <%= f.text_field :name, placeholder: 'name' %>
  <%= f.submit "submit" %>
<% end %>

<ul class="menu-list">
<% @menu_list.each do |current_menu_in_database| %>
  <%= render "menu_created", menu_name: current_menu_in_database.name %>
<% end %>
</ul>
